@import url("vars.css");


.hiddenToTop { top: 0; transform: translate(-50%, -200%) !important; }

#boxtotop {
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  transition: 0.3s ease-in-out;
  z-index: 2;
}

#totop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  border: 2px solid #fff;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

#totop:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  align-items: center;
}

#totop:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

#totop::before {
  position: absolute;
  bottom: -20px;
  content: "Ir para o topo";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

#totop:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}



/* --------------------- */


/* .flip-card {
  background-color: transparent;
  width: 245px;
  height: 270px;
  perspective: 1000px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 2em;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #0e0e0e;
  border: 4px solid #db4500;
}

.profile-image {
  background-color: transparent;
  border: none;
  margin-top: 15px;
  border-radius: 5em;
  width: 120px;
  height: 120px;
  margin-left: 50px;
}

.pfp {
  border-radius: 35em;
  fill: #c143da;
}

.name {
  margin-top: 15px;
  font-size: 27px;
  color: #c143da;
  font-weight: bold;
}

.flip-card-back {
  background-color: #0e0e0e;
  border: 4px solid #db4500;
  transform: rotateY(180deg);
  padding: 11px;
}

.description {
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  color: white
}

.socialbar {
  background-color: transparent;
  border-radius: 3em;
  width: 90%;
  padding: 14px;
  margin-top: 11px;
  margin-left: 10px;
  word-spacing: 24px;
  color: white;
}

.socialbar svg {
  transition: 0.4s;
  width: 20px;
  height: 20px;
  color: #c143da
}

.socialbar svg:hover {
  color: white;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */


/* --------------------- */

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--gray-border-dark);
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: none;
  padding: .5rem 0;
  /* color: #fff; */
  color: rgba(51, 65, 85, 1);
  /* transition: all .15s ease-in-out; */
}

.radio-inputs .radio input:checked + .name {
  background-color: var(--primary-dark);
  border: 1px solid var(--gray-border-dark);
  font-weight: 600;
  color: #fff;
}


/* --------------------- */


.btn-plant {
  position: relative;
  padding: 13px 35px;
  background: var(--primary-dark);
  /* background: #f5ddb7; */
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 8px;
  /* box-shadow: 2px 2px 5px #18181869, inset 2px 2px 10px #ffffffb0; */
  transition: all .3s ease-in-out;
}
  
.icon-1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all .5s ease-in-out;
  z-index: -1;
}

.icon-2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all .5s ease-in-out;
  z-index: -2;
}

.icon-3 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all .5s ease-in-out;
  z-index: -2;
}

.icon-4 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all .5s ease-in-out;
  z-index: -2;
}

.icon-5 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all .5s ease-in-out;
  z-index: -2;
}

.btn-plant:hover {
  padding: 13px 25px;
  border-radius: 8px 8px 24px 24px;
}

.btn-plant:hover .icon-1 {
  top: -250%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
  height: auto;
  animation: inIcon1 1s ease .45s forwards;
}

@keyframes inIcon1 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  25% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(5deg);
  }

  50% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(1deg);
  }

  65% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(3deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.btn-plant:hover .icon-2 {
  position: absolute;
  top: -200%;
  left: 90%;
  transform: translate(-50%, 0);
  width: 75px;
  height: auto;
  animation: inIcon2 1s ease .45s forwards;
}

@keyframes inIcon2 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  35% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(10deg);
  }

  50% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(4deg);
  }

  80% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(5deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.btn-plant:hover .icon-3 {
  position: absolute;
  top: -130%;
  left: 20%;
  transform: translate(-50%, 0);
  width: 60px;
  height: auto;
  animation: inIcon3 1s ease .45s forwards;
}

@keyframes inIcon3 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  35% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(-2deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.btn-plant:hover .icon-4 {
  position: absolute;
  top: -300%;
  left: 10%;
  transform: translate(-50%, 0);
  width: 85px;
  height: auto;
  animation: inIcon4 1s ease .45s forwards;
}

@keyframes inIcon4 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  40% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(-3deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.btn-plant:hover .icon-5 {
  position: absolute;
  top: -350%;
  left: 90%;
  transform: translate(-50%, 0);
  width: 85px;
  height: auto;
  animation: inIcon5 1s ease .45s forwards;
}

@keyframes inIcon5 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  35% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(-3deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.fil-leaf-1 {
  fill: #7B9B3A
}

.fil-leaf-2 {
  fill: #556729;
  fill-rule: nonzero
}

.fil-leaf-3 {
  fill: #556729
}

.fil-leaf-4 {
  fill: #3C4819
}

.fil-leaf-5 {
  fill: #3C4819
}