@import url("vars.css");

* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    color: var(--dark);

    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

/* Seleção */
::selection { background-color: var(--theme-1); color: #fff; }

/* Scroll */
::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-thumb { background-color: var(--theme-2); }
body { scrollbar-width: thin; }
body::-webkit-scrollbar { width: 12px; }
body::-webkit-scrollbar-thumb { background-color: var(--theme-2); }

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: transparent; */
    background-color: rgba(255, 0, 0, 0.514);
    /* background-color: var(--primary); */
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 var(--side-margin) 0 15px;
}
header nav { margin-right: auto; }
header ul { display: flex; list-style: none; }
header li { margin: 0 20px; }
header li a { text-decoration: none; color: #fff; }

/* main { margin-top: 60px; } */

/* Section */
section { min-height: 100vh; margin-bottom: 70px; }

br { user-select: none; }

footer { background-color: var(--gray-light); padding: 30px; }

video { width: 100%; height: 100%; object-fit: cover; }

p { color: var(--gray); }

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif;
}

article h2 { font-size: 30px; margin-bottom: 10px; }
article p { font-size: 20px; }