@import url("vars.css");

/* Margens */
.mg-0 { margin: 0; }
.mg-5px { margin: 5px; }
.mg-10px { margin: 10px; }
.mg-20px { margin: 20px; }
.mg-30px { margin: 30px; }
.mg-40px { margin: 40px; }
.mg-50px { margin: 50px; }
.mg-auto { margin: auto; }

.mg-t-0 { margin-top: 0; }
.mg-t-5px { margin-top: 5px; }
.mg-t-10px { margin-top: 10px; }
.mg-t-20px { margin-top: 20px; } 
.mg-t-30px { margin-top: 30px; } 
.mg-t-40px { margin-top: 40px; } 
.mg-t-50px { margin-top: 50px; }
.mg-t-auto { margin-top: auto; }

.mg-r-0 { margin-right: 0; }
.mg-r-5px { margin-right: 5px; }
.mg-r-10px { margin-right: 10px; }
.mg-r-20px { margin-right: 20px; }
.mg-r-30px { margin-right: 30px; }
.mg-r-40px { margin-right: 40px; }
.mg-r-50px { margin-right: 50px; }
.mg-r-auto { margin-right: auto; }

.mg-b-0 { margin-bottom: 0; }
.mg-b-5px { margin-bottom: 5px; }
.mg-b-10px { margin-bottom: 10px; }
.mg-b-20px { margin-bottom: 20px; }
.mg-b-30px { margin-bottom: 30px; }
.mg-b-40px { margin-bottom: 40px; }
.mg-b-50px { margin-bottom: 50px; }
.mg-b-auto { margin-bottom: auto; }

.mg-l-0 { margin-left: 0; }
.mg-l-5px { margin-left: 5px; }
.mg-l-10px { margin-left: 10px; }
.mg-l-20px { margin-left: 20px; }
.mg-l-30px { margin-left: 30px; }
.mg-l-40px { margin-left: 40px; }
.mg-l-50px { margin-left: 50px; }
.mg-l-auto { margin-left: auto; }

/* Preenchimentos */
.pd-0 { padding: 0; }
.pd-5px { padding: 5px; }
.pd-10px { padding: 10px; }
.pd-20px { padding: 20px; }
.pd-30px { padding: 30px; }
.pd-40px { padding: 40px; }
.pd-50px { padding: 50px; }
.pd-auto { padding: auto; }

/* Bordas */
.bd-none { border: none; }
.bd { border: 1px solid black; }
.bd-2px { border-width: 2px; }
.bd-4px { border-width: 4px; }
.bd-solid { border-style: solid; }
.bd-dotted { border-style: dotted; }
.bd-dashed { border-style: dashed; }
.bd-rounded { border-radius: 5px; }
/* .bd-cl-primary { border: 1px solid var(--theme-1); } */
/* boras com diferentes especificações e cores */

/* Tamanhos de texto */
.sz-10px { font-size: 10px; }
.sz-15px { font-size: 15px; }
.sz-20px { font-size: 20px; }
.sz-25px { font-size: 25px; }
.sz-30px { font-size: 30px; }
.sz-35px { font-size: 35px; }
.sz-40px { font-size: 40px; }
.sz-45px { font-size: 45px; }
.sz-50px { font-size: 50px; }
.sz-55px { font-size: 55px; }
.sz-60px { font-size: 60px; }
.sz-65px { font-size: 65px; }
.sz-70px { font-size: 70px; }
.sz-80px { font-size: 80px; }
.sz-90px { font-size: 90px; }


/* Cores de fundo */
.bg-black { background-color: black; }
.bg-gray { background-color: gray; }
.bg-white { background-color: white; }
.bg-blue { background-color: blue; }
.bg-green { background-color: green; }
.bg-red { background-color: red; }
.bg-primary { background-color: var(--primary); }

.bg-gradient { background-image: linear-gradient(45deg, var(--theme-2), var(--theme-3)); }

/* .bg-gd { background-image: linear-gradient(to right, var(#fff, #fff)); } */

/* Cores de texto */
.cl-black { color: black; }
.cl-gray { color: gray; }
.cl-white { color: white; }
.cl-blue { color: blue; }
.cl-green { color: green; }
.cl-red { color: red; }

/* .cl-primary { color: var(--theme-1); } */

/* Cores de fundo */

/* Posições */
.ps-static { position: static; }
.ps-relative { position: relative; }
.ps-absolute { position: absolute; }
.ps-fixed { position: fixed; }
.ps-sticky { position: sticky; }
.ps-top { top: 0; }
.ps-bottom { bottom: 0; }
.ps-left { left: 0; }
.ps-right { right: 0; }

/* Alinhamentos */
.al-left { text-align: left; }
.al-center { text-align: center; }
.al-right { text-align: right; }
.al-justify { text-align: justify; }

/* Outros */
.ov-auto { overflow: auto; }
.ov-hidden { overflow: hidden; }
.ov-visible { overflow: visible; }
.ov-scroll { overflow: scroll; }

/* Z-index */
.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.z-3 { z-index: 3; }
.z-4 { z-index: 4; }
.z-5 { z-index: 5; }

/* Display */
.dp-block { display: block; }
.dp-inline { display: inline; }
.dp-inline-block { display: inline-block; }
.dp-flex { display: flex; }
.dp-inline-flex { display: inline-flex; }
.dp-none { display: none; }

/* Sombra */
.bx-shadow { box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.4); }
.txt-shadow { text-shadow: 2px 4px 20px rgba(0, 0, 0, 0.4); }
.txt-shadow-1 { text-shadow: 2px 4px 0 var(--theme-1); }
.txt-shadow-2 { text-shadow: 2px 4px 0 var(--theme-2); }
.txt-shadow-3 { text-shadow: 2px 4px 0 var(--theme-3); }

/* Opacidade */
.op-50 { opacity: 0.5; }

/* Largura e altura */
.wd-full { width: 100%; }
.hg-full { height: 100vh; }

/* Border Radius */
.br-0 { border-radius: 0; }
.br-small { border-radius: 3px; }
.br-medium { border-radius: 5px; }
.br-large { border-radius: 10px; }
.br-round { border-radius: 50%; }

/* Hover */
.hover-scale { transition: transform 0.3s ease; }
.hover-bg-gray:hover { background-color: #f2f2f2; }
.hover-text-bold:hover { font-weight: bold; }
.hover-border-dotted:hover { border-style: dotted; }
.hover-border-rounded:hover { border-radius: 20px; }
.hover-color-white:hover { color: white; }
.hover-bg-blue:hover { background-color: blue; }
.hover-border-blue:hover { border-color: blue; }
.hover-border-bottom:hover { border-bottom: 2px solid black; }
.hover-shadow:hover { box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); }

/* Outros */
.cs-pointer { cursor: pointer; }
.txt-decoration-none { text-decoration: none; }
.user-select-none { user-select: none; }


/* tamanhosde fonte */


/* Espaçamento de linhas */
.lh-1 { line-height: 1; }


.arial { font-family: Arial, Helvetica, sans-serif; }
.serif { font-family: "Roboto Slab", serif; }


/* Justify content */

/* criar variações de cores usando variaveis como valores que podem ser modificados no css */

.al-i { align-items: center; }

.format-a { text-decoration: none; }

.a-button { text-decoration: none; position: relative; padding: 7px 0; border-radius: 5px; transition: 0.2s ease-in-out; }
.a-button ion-icon { position: absolute; top: 11px; right: 7px; color: transparent; transition: 0.1s ease-in; }
.a-button:hover { background-color: var(--gray-light); color: #fff; padding: 7px 30px 7px 15px; }
.a-button:hover ion-icon { color: inherit; }

.format-sct {
    padding: 60px var(--side-margin);
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Exemplo com colunas de larguras diferentes */
    grid-auto-rows: 180px; /* Altura fixa para todas as linhas */
    gap: 20px; /* Espaçamento entre os itens */
    /* padding: 10px; */
}

.grid-pers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 170px; /* Altura fixa para todas as linhas */
    gap: 20px; /* Espaçamento entre os itens */
    /* padding: 10px; */
    grid-auto-flow: dense;
}

.grid-item { border-radius: 17px; padding: 20px 25px; display: flex; align-items: end; background-image: linear-gradient(to bottom, var(--gray-lightest), transparent); border: 2px solid var(--primary-dark); overflow: hidden; cursor: pointer; box-shadow: 0 5px 5px var(--gray-light); transition: 0.2s ease-in-out; }
.grid-item div { left: -100%; top: 0; width: 100%; height: 100%; display: flex; align-items: end; background-color: var(--primary); padding: 20px 25px; border-radius: 10px 85px 85px 10px; transition: 0.4s ease-in-out; }
.grid-item div ion-icon { position: absolute; top: 20px; color: #fff; font-size: 30px; }
.grid-item span { color: var(--primary-dark); font-size: 24px; font-weight: 600; }
.grid-item div span { color: #fff; font-size: 24px; font-weight: 600; }
.grid-item img { height: 100%; width: 100%; object-fit: cover; }

/* .grid-item:hover { border: 2px solid var(--primary); } */
.grid-item:hover div { left: 0; border-radius: 10px; }

/* .icon-image { position: absolute; color: var(--primary); font-size: 30px; top: 20px; left: 25px; } */

.item1 { grid-column: span 3; border: 2px solid dodgerblue; box-shadow: 0 5px 10px #1f8fff71; }
.item2 { grid-column: span 2; border: 2px solid var(--primary-dark); box-shadow: 0 5px 10px #02a22471; }
.item3 { grid-column: span 1; border: 2px solid orangered; box-shadow: 0 5px 10px #ff440071; }
.item4 { grid-column: span 2; border: 2px solid #ff9100; box-shadow: 0 5px 10px #ff910071; }
.item5 { grid-column: span 1; border: 2px solid mediumslateblue; box-shadow: 0 5px 10px #7c68ee71; }
.item6 { grid-column: span 3; border: 2px solid purple; box-shadow: 0 5px 10px #80008071; }
/* .item7 { grid-column: span 3; } */

.item1 span { color: dodgerblue; }
.item2 span { color: var(--primary-dark); }
.item3 span { color: orangered; }
.item4 span { color: #ff9100; }
.item5 span { color: mediumslateblue; }
.item6 span { color: purple; }

.item1 div { background-color: dodgerblue; }
.item2 div { background-color: var(--primary-dark); }
.item3 div { background-color: orangered; }
.item4 div { background-color: #ff9100; }
.item5 div { background-color: mediumslateblue; }
.item6 div { background-color: purple; }

/* .item1:hover { box-shadow: 5px 5px 10px #1e8fff94; } */

.box-game { cursor: pointer; }

.box-button { background-color: var(--primary); height: 170px; width: 170px; border: 1px solid var(--primary); border-radius: 10px; cursor: pointer; }

.play-button-game { height: 0; width: 0; border-radius: 50%; background-color: #fff; left: 50%; top: 50%; transform: translate(-50%, -50%); overflow: hidden; transition: 0.2s ease-in-out; }
/* cubic-bezier(0.42, 0, 1, 1), 1s cubic-bezier(0, 0, 0.58, 1) */
.play-button-game div { width: 100%; height: 100%; }
.play-button-game img { top: 100%; left: 50%; transform: translate(-50%, 50%); height: 30px; width: 30px; transition: 0.3s ease-in-out 0.2s; }
.box-game:hover .play-button-game { height: 70px; width: 70px; }
.box-game:hover .play-button-game img { top: 50%; left: 50%; transform: translate(-50%, -50%); }

.side-bar { position: fixed; display: flex; background-color: #fff; flex-direction: column; left: -60px /* 15px */; top: calc(60px + 15px); padding: 10px; border: 1px solid var(--gray-border-dark); border-radius: 5px; transition: 0.3s ease-in-out; z-index: 1; }
.side-bar .box-item { position: relative; }
.side-bar .box-item div { position: absolute; left: calc(100% + 10px * 2); top: 0; padding: 7px; border: 1px solid var(--gray-border-dark); border-radius: 5px; background-color: #fff; display: none; }
.side-bar button { cursor: pointer; padding: 7px; border: none; border-radius: 5px; background-color: transparent; }
.side-bar button:hover { background-color: var(--primary-lightest); }
.side-bar button:hover ~ div { display: block; }
/* .side-bar button:hover ion-icon { color: #fff; } */
.side-bar button ion-icon { font-size: 17px; }


.button-menu {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border: 1px solid var(--gray-border-dark);
    border-radius: 4px;
    /* border-width: 0; */
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    /* font-family: "JetBrains Mono",monospace; */
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.button-menu:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-menu:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-menu:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.video-controll-button { right: var(--side-margin); bottom: 40px; width: 50px; height: 50px; border-radius: 50%; border: 1px solid #fff; background-color: transparent; cursor: pointer; transition: 0.1s ease-in-out; }
.video-controll-button div { position: relative; width: 100%; height: 100%; border-radius: 50%; }
.video-controll-button ion-icon { position: absolute; color: #fff; font-size: 45px; left: 50%; top: 50%; transform: translate(-50%, -50%); border-radius: 50%; }
.video-controll-button:hover { border-color: var(--primary); }
/* .video-controll-button:hover ion-icon { color: var(--primary); } */

.contrast-button { position: fixed; right: 10px; top: calc(50% + 30px); border: 1px solid #fff; border-radius: 8px; width: 40px; height: 40px; cursor: pointer; background-color: #000; color: #fff; z-index: 1; }
.contrast-button div { position: relative; width: 100%; height: 100%; border-radius: 50%; }
.contrast-button ion-icon { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); color: #fff; font-size: 20px; }

.card-about { padding: 0 25px; display: flex; line-height: 1.5; word-spacing: 2px; }
.card-about ion-icon { color: #fff; font-size: 75px; margin-right: 5px; }
.card-about h3 { color: #fff; font-family: Arial, Helvetica, sans-serif; text-decoration: underline; text-decoration-color: var(--gray-dark); text-underline-offset: 4px; cursor: default; }
.card-about:hover h3 { text-decoration-color: var(--primary); }

.economy-table { height: auto; background-color: #fff; border-radius: 10px; border: 2px solid var(--primary); padding: 30px 30px 30px 0; overflow: hidden; box-shadow: inset 5px 5px 10px var(--gray-border-dark); }
.economy-table .item-table { position: relative; min-height: 70px; width: 100%; /* flex-grow: 1; */ }
.economy-table .percent { position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 0; height: 80%; background-color: var(--primary-light); border: 2px solid #fff; border-left: none; border-radius: 0 3px 3px 0; box-shadow: 5px 5px 10px var(--gray-border-dark); transition: 0.3s ease-in-out; }

.subtitle-graph { width: 50%; }
.subtitle-graph .subtitle-box { display: flex; align-items: center; padding: 10px; margin-bottom: 10px; }
.subtitle-graph .sbtt-cl { width: 20px; height: 20px; border-radius: 3px; background-color: #fff; border: 2px solid #fff; margin-right: 10px; }
.subtitle-graph .sbtt-txt { color: #fff; }

#dt1 { background-color: dodgerblue; }
#dt2 { background-color: orangered; }
#dt3 { background-color: #ff9100; }
#dt4 { background-color: mediumslateblue; }
#dt5 { background-color: purple; }

#sbtt-cl-1 { background-color: dodgerblue; }
#sbtt-cl-2 { background-color: orangered; }
#sbtt-cl-3 { background-color: #ff9100; }
#sbtt-cl-4 { background-color: mediumslateblue; }
#sbtt-cl-5 { background-color: purple; }

#contactCard img { height: 100px; width: 100px; border-radius: 10px; margin-right: 25px; border: 1px solid var(--gray-border); }
#contactCard hr { margin: 10px 0; }
#contactCard a ion-icon { color: var(--gray-dark); font-size: 20px; margin-right: 20px; }
#contactCard a:hover ion-icon { color: var(--primary-dark); }
